header {
  background-color: black;
  width: 500px;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
  
}

a {
  transition: transform 0.5s ease, font-weight .5s ease;
  font-size: medium;
  text-decoration: none;
  color:white;
  margin-top: 0;
  margin-bottom: 0;
}

a:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.logout-button {
  padding: 5px;
  width: 80px;
  margin: 0;
}